header {
	display: block;
	height: 100px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#logo {
	display: block;
	width: 200px;
}

#contact {
	display: block;
	width: 50px;
}

body {
	background-color: rgb(74,74,74);
	background-image: url('resources/background.png');
	background-position: center top;
	background-size: 800px;
	background-repeat: no-repeat;
}