header, #description, #tripper {
	display: block;
	width: 760px;
	margin-left: auto;
	margin-right: auto;
}

.italicise {
	font-style: italic;
}

header {
	height: 100px;
}

body {
	font-family: 'Lato', sans-serif;
	color: #FFF;
	background-color: rgb(74,74,74);
	background-image: url('resources/background.png');
	background-position: center top;
	background-size: 800px;
	background-repeat: no-repeat;
}

#logo {
	display: inline;
	height: 100px;
	float: left;
}

#contact {
	display: inline;
	width: 50px;
	float: right;
	margin-top: 25px;
}

#description {
	margin-top: auto;
	margin-bottom: auto;
	height: 154px;
}

#description span {
	padding-top: 28px;
	display: table-cell;
  	vertical-align: middle;
}

#tripper p {
	width: 400px;
}

#pt-modes {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	width: 760px;
}

#train, #tram, #bus {
	height: 65px;
	padding-right: 20px;
	float: left;
}