header {
	display: block;
	height: 100px;
	position: relative;
	margin: 0 auto;
}

#logo {
	width: 10%;
}

#contact {
	width: 50px;
}

body {
	background-color: rgb(74,74,74);
	background-image: url('resources/background.png');
	background-position: center top;
	background-size: 800px;
	background-repeat: no-repeat;
}